@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

/* CHATBOX
=============== */
.chatbox {
    position: sticky;
    bottom: 30px;
    right: 30px;
    margin-right: 20px;
    
    
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #585858;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
    
    
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    
}

/* BUTTON */
.chatbox__button {
  text-align: right;
  
    
}



/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: #2E2E2E;
    color: #fff;
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    font-size: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: inherit;
    flex-direction: column-reverse;
    
}

.messages__item {

    background: #333;
    color: #fff;
    max-width: 65.6%;
    height: 20px;
    border-radius: 5%;
    width: fit-content;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 18px;
    margin: 10px 10px ;
    padding: 10px;
    border-radius: 10%;
    
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
    display: block;
    align-items: center;
    background-color: #333;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
}
.chatbox__footer-text{
    padding: 10px 0px 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 25px;
    border-top: 2px solid #333;
    width: 240px;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 20px;
}
.chatbox__footer-text::placeholder{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Akaya Kanadaka', cursive;
    
}
.chatbox__footer button{
    width: 40px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition:  0.5s;
    border-radius: 50%;
  }
  
  

